---
titleTag: Meeting ISO Certification's Rigorous Standards | MIL-I-45208 and NAVSEA
pageName: Certifications
description: When your passion for precision is reflected in all you do, you receive valuable certifications from renowned organizations
pageClass: certificationsCap
pageSlug: certifications/
layout: 'base.njk'
---

<section class="container contentLeadIn">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center pt-5 pb-4 py-md-5">
      <h1 class="mb-4">When your passion for precision is reflected in all you do, you receive valuable certifications from renowned organizations</h1>
      <p>We have demonstrated our ability to consistently provide products and services that meet ISO Certification's rigorous standards. In addition to meeting our customers' standards, we meet all applicable statutory and regulatory requirements.</p>
    </div>
  </div>
</section>
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
</div>
<section class="container certLists">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-6">
          <p>We have partnered with the following organizations to ensure our products and capabilities deliver the highest standards.</p>
          <ul>
            <li><a href="https://www.navsea.navy.mil/" target="_blank" rel="noopener nofollow">Naval Sea Systems Command (NAVSEA)</a></li>
            <li><a href="https://www.navsup.navy.mil/" target="_blank" rel="noopener nofollow">Naval Supply Systems Command (NAVSUP)</a></li>
            <li><a href="https://www.iso.org/home.html" target="_blank" rel="noopener nofollow">International Organization for Standardization (ISO)</a></li>
            <li><a href="https://submarinesuppliers.org" target="_blank" rel="noopener nofollow">The Submarine Industrial Base Council (SIBC)</a></li>
            <li><a href="https://www.acibc.org/" target="_blank" rel="noopener nofollow">Aircraft Carrier Industrial Base Coalition (ACIBC)</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="mt-5 mt-md-0 mb-4">Our team follows:</h4>
          <ul>
            <li>MIL-I-45208 and NAVSEA procedures</li>
            <li><a href="/images/mp-na-iso-certification.pdf" target="_blank">ISO 9001:2015 standards</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}