---
titleTag: Headquarters in South Windham, CT | NAVSEA & Level1/SUBSAFE certified
pageName: Facilities
description: Micro Precision LLC is a fast-growing business that provides precision machined systems. Our 20,000 square foot headquarters is easily accessible by East Coast shipbuilders.
pageClass: facilitiesCap
pageSlug: facilities/
layout: 'base.njk'
---

<section class="container contentLeadIn pb-4">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-4">Our 20,000 square foot headquarters in South Windham, Connecticut is easily accessible by East Coast shipbuilders. We stand by, ready to meet your most stringent requirements.</h1>
      <p>Established over 40 years ago, Micro Precision LLC is a fast-growing business that provides precision machined systems, and assembled components. Our expert team works closely with customers in the defense and homeland security sectors. We are NAVSEA and Level1/SUBSAFE certified and well as ISO 9001:2015 certified.</p>
    </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-4">
    <div class="fstat_card text-center pt-3 pb-4 px-5">
      <div class="fstat_number fw-bold">2</div>
      <h5 class="text-white">Custom hydraulic and hydrostatic test stands integrated into our in-house testing and quality assurance</h5>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-4">
    <div class="fstat_card text-center pt-3 pb-4 px-5">
      <div class="fstat_number fw-bold">15</div>
      <h5 class="text-white">Years as an ISO 9001:2015 certified shop because at Micro Precision quality is built into everything we do</h5>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-4">
    <div class="fstat_card text-center pt-3 pb-4 px-5">
      <div class="fstat_number fw-bold">40</div>
      <h5 class="text-white">Highly skilled machinists, technicians and quality personnel that comply with Navy nuclear standards</h5>
    </div>
  </div>
</div>
  
</section>
{% include './_includes/raq.njk' %}